.bg-faded2 {
  background-color: rgb(172, 99, 48);
}

.bg-faded3 {
  background-color: rgb(209, 150, 110);
}

.contentfont {
  font-size: 125%;
}

.img-fluid-set {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-purpose {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.img-detect {
  width: 80%;
}

.bg-faded-home {
  background-color: rgb(209, 150, 110);
}

.bg-faded-ans {
  background-color: rgb(233, 193, 166);
  margin-bottom: 1%;
}

.video-set {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
}

hr{
  border: 2px solid rgb(186, 119, 71);
}