.bg-faded2 {
  background-color: rgb(172, 99, 48);
}

.bg-faded3 {
  background-color: rgb(209, 150, 110);
}

.contentfont {
  font-size: 25px;
}

.img-fluid-set {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-purpose {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}